---
layout: default
title: Contribute to GitLab
description: "Learn how to contribute to GitLab. This page includes how to get started, how to get help, guidelines, process, and more."
canonical_path: "/community/contribute/"
suppress_header: true
extra_css:
  - contributing.css
  - community.css
  - bl-modal.css
extra_js:
  - libs/slick.min.js
---
.wrapper
  .simple-header
    %h1 Contribute to GitLab
    %p
    :markdown
      The next [GitLab Hackathon](/community/hackathon/) is just around the corner!
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title Tutorial: Make a GitLab Contribution
          :markdown
            Follow [this tutorial for contributing to the development of GitLab](https://docs.gitlab.com/ee/development/contributing/first_contribution.html).

            Learn how to configure the GitLab Development Kit, make code updates, push changes to the community fork, and create a merge request.

      .block
        .block-content
          %h2.block-title Contribution Guidelines
          %h4.text-center
            Choose a track to find step-by-step instructions on how to contribute.
          .row.flex-row.area-row
            -data.contribute_page.each do |area|
              .col-md-4
                %h3.area-name
                  = area.category
                %p.area-description
                  = area.description
                .row.area-more
                  = link_to area.link_text, area.link

      .block
        .block-content
          %h2.block-title Get Help
          :markdown
            If you need any help while contributing to GitLab:

            1. If you need help with a merge request or need help finding a reviewer:
                1. Don't hesitate to ask for help by typing `@gitlab-bot help` in a comment.
                1. Find reviewers and maintainers of Gitlab projects in our [handbook](/handbook/engineering/projects/) and [mention](https://docs.gitlab.com/ee/user/group/subgroups/#mention-subgroups) them in a comment.
            1. Join the community on the [GitLab Community Discord](https://discord.gg/gitlab) and find other contributors in the `#contribute` channel or [initiate a mentor session](/community/contribute/mentor-sessions/).
            1. For any other questions or feedback on contributing:
                1. Ping `@gitlab-org/developer-relations/contributor-success` in a comment on your merge request or issue.
                1. Feel free to [make a new issue with the Contributor Success team](https://gitlab.com/gitlab-org/developer-relations/contributor-success/team-task/-/issues/) sharing your experience.
            1. Did you run out of compute credits for your GitLab merge requests? Join the [GitLab community forks](https://gitlab.com/gitlab-community/meta) project.

      .block
        .block-content
          %h2.block-title Everyone Can Contribute
          %p
            = link_to "Diversity, Inclusion, and Belonging", "/handbook/values/#diversity-inclusion"
            is one of our values. We want to create a welcoming community for every contributor. Please visit our
            = link_to "Code of Conduct page", "/community/contribute/code-of-conduct/"
            to learn more about our commitment to an open and welcoming environment.
          %p
            All contributions to GitLab are subject to the DCO or a CLA. 
            = link_to "More on the GitLab DCO and CLA.", "/community/contribute/dco-cla/"
          %p
            You can see the wider community contribution data in our
            = link_to "community dashboard.", "https://gitlab.biterg.io/goto/937475d38035f496df3501c9b30af5ef"
          .metric 4,039+ Contributors
          