---
layout: handbook-page-toc
title: SA Practices
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("handbook/customer-success/solutions-architects/includes/navigation") %>


## SA Practices

Solution Architects have various practices:

[Communities of Practice](/handbook/customer-success/solutions-architects/sa-practices/communities-of-practice/)

[Deliberate Practice](/handbook/customer-success/solutions-architects/sa-practices/deliberate-practice/)

[Effective Objection Handling](/handbook/customer-success/solutions-architects/sa-practices/effective-objection-handling-practice/)

[Recognizing Cognitive Bias](/handbook/customer-success/solutions-architects/sa-practices/recognizing-cognitive-bias/)

[Ride Alongs](/handbook/customer-success/solutions-architects/sa-practices/ride-alongs/)

[Value Stream Assessments](/handbook/customer-success/solutions-architects/sa-practices/value-stream-assessments/)

[SA Office Hours for AE/CSM/SA Collaboration](/handbook/customer-success/solutions-architects/sa-practices/sa-office-hours/)

[Solution Architecture Retrospective Feedback](/handbook/customer-success/solutions-architects/sa-practices/sa-retrospective-feedback/)

[Monthly Release Quiz](/handbook/customer-success/solutions-architects/sa-practices/monthly-release-quiz)


## SA Practices - Pre-sales

The following practice and process are lead by the Solutions Architects during pre-sales:

[Proof of Value](/handbook/customer-success/solutions-architects/tools-and-resources/pov/)

[Day In The Life of a Developer](/handbook/customer-success/solutions-architects/sa-practices/day-in-the-life/)

[Strategic Solution Selling](/handbook/customer-success/solutions-architects/sa-practices/strategic-solution-selling/)

[GitLab Dedicated Prospects](/handbook/customer-success/solutions-architects/sa-practices/gitlab-dedicated-prospects/)

[Selling Professional Services](/handbook/customer-success/solutions-architects/sa-practices/selling-professional-services)


